body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ff8800;
}

label {
  font-weight: bold;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  font-style: italic;
}

button {
  cursor: pointer;
}
